html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='css/bootstrap.min.css', rel='stylesheet')
		link(href="/favicon.ico" rel="shortcut icon",type="image/x-icon")
		link(href="css/main.css" rel="stylesheet")
	body
		h1.jumbotron Hello, world!
		script(type='text/javascript' src='vendor/jquery/dist/jquery.js')
		script(type='text/javascript' src='vendor/bootstrap/dist/js/bootstrap.js')


